<div class="page-404">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="page-text-content">
          <h2>{{- 'general.404_page.title' | t -}}</h2>
          <p>{{- 'general.404_page.subtitle_html' | t  -}}</p>
          <p>{{- 'general.404_page.text_redirect' | t -}}
            <a href="{{ routes.root_url }}">{{- 'general.404_page.button_redirect' | t -}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>