{%- capture gridClass -%}{%- render 'set-item-per-row', value: '3,1' -%}{%- endcapture -%}

<div id="collections-listing">
  <div class="container">
    <div class="page-heading">
      <h2>{{ page_title }}</h2>
    </div>

    <div class="page-content">
      {%- paginate collections by 10 -%}
        {%- if collections.size > 0 -%}
          <div class="row">
            {%- for collection in collections -%}
              <div class="collection-item {{ gridClass }}">
                <div class="collection-image">
                  <a href="{{ collection.url }}">
                    {%- render 'image-style', image: collection.image, imagePadding: '100%', image_css: 'object-fit: contain;' -%}
                  </a>
                </div>
                <div class="collection-title text-center">
                  <strong><a href="{{ collection.url }}">{{ collection.title | escape }}</a></strong>
                </div>
              </div>
            {%- endfor -%}
          </div>

          {%- include 'pagination' -%}

        {%- else -%}
          <p>{{- 'collections.general.no_collection' | t -}}</p>
        {%- endif -%}
      {%- endpaginate -%}
    </div>
  </div>
</div>