{% layout none %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="viewport-fit=cover, width=device-width,initial-scale=1, user-scalable=0">
  <meta name="google" content="notranslate">
  <title>{{- 'password.title' | t -}}</title>

  <link href="{{ 'main_style.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  <link href="{{ 'password.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">


  <style type="text/css">
    #powered {
      color: #9c9c9c;
      display: block;
      margin-top: 15px;
    }

    #powered a {
      background-repeat: no-repeat;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAACl0lEQVR4AW2RS2jcdRSFv3v/j5nJOBnbJCba0DQ2qU1aqw0oOqB0oxbB564gFLvothvBlWQjuJBCwcfOhYouBF2ILlMsFKWSIopFFNNSkyxaqxPzmJn/43evmUVpFv3gu9zNgQNHuAsfnn/2tLufcHgI9E3gU+6CvL/wHDsR/A3EDwiy6HAMmBbxsze+a30BGDuQ+fl5brP76Uv7I7GXFTbMfVTQKyL+tigzS9ey9fWOvxaJXQTaAPHN0QVuMyq14+Ycd5EN8FcQQ1QA2Owy2F4LXw/tilZ0WGaAzViGI2ZHKlO4f4xErTJsspW1EVEiTRisDeMugCMIvYzx5rruAX7XZF3B/flI4lY3b6OS0Jo6zUtH3+WJB0/hGEUoMAONIAQnTayxLXH/CLKvV25QTZq8OneOseYMANfTXfy0/BkeKpiBCAAUBU8Ci/H2g+OjWbHJ45Mn6Qcv/PEeW9mtbf8BDJUUsx4i9CUrbApAJw/URsR9QkTZXd8LgJtx/rezXP37Io3qfQRzzB1BKEsH9B5QNAphjyN7BeHPGxcAOHbwDCdbnxNrhcI6uDkh3Klt5nMDDZ1Q7++p+kA1GeSHpY/48vIZAB4ef5HJkRbdfA1zcHdEQFUIwafzzPepIuO9/L/o/uZhXnj0Hda6K2z0bgKQRnXcA2bgDgAIFAUDsXotdnx/GXrU0ub2NK/3BaDdWWa5fZlq0qDXcXZkcRArORqDHqpXhrl663u+/eUtDo49Q1Zu8eO1T+jk/3JvfQizHBzgToO8sMdicf9AJFpy84krq9/M/rzy1bS4RNV0kHo6BBghQBkcd4hjQRWynJqcOvcUO5l7pDGmhMPudgQ4lCZ65K/VfPb6arlVH5AFVX6tVHUxmF/6H+vwKe+hBs8sAAAAAElFTkSuQmCC);
      padding-left: 21px;
      color: #9c9c9c;
      text-decoration: none;
    }

    #powered a:hover {
      text-decoration: underline;
    }
  </style>
</head>

<body class="templatePassword text-color-{{settings.password_text_style}}">
  <div class="container">
    <div id="login">

      <div class="page-heading">
        <h1 class="title">{{- 'password.title' | t -}}</h1>
        <p class="subtitle">{{- 'password.subtitle' | t -}}</p>
        {% if shop.password_message and shop.password_message != '' %}
          <p class="shop-password-message">{{ shop.password_message }}</p>
        {% endif %}
      </div>

      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for="password">{{ "password.enter_password" | t }}</label>
        <div id="form__password" class="form-control">
          <input type="password" name="password" id="password" autofocus />
          <div class="actions">
            <input class="btn" name="commit" type="submit" value="{{ 'password.enter' | t }}" />
          </div>
        </div>
      {% endform %}
      <div id="powered">{{ 'password.shopify_store' | t }}<a href="//www.shopify.com" target="_blank" rel="nofollow">{{ 'password.shopify' | t }}</a></div>
    </div>
  </div>
</body>
</html>