<div class="customer-block">
  <div class="container">
    <h2 class="title">{{- 'customer.activate_account.submit' | t -}}</h2>
    <p class="note">{{- 'customer.activate_account.subtext' | t -}}</p>

    {% form 'activate_customer_password', class: 'form-account form-account-active' %}
      {{ form.errors | default_errors }}

      <div class="form-control">
        <input type="password" name="customer[password]" placeholder="{{- 'customer.activate_account.password' | t -}}" required/>
      </div>

      <div class="form-control">
        <input type="password" name="customer[password_confirmation]" placeholder="{{- 'customer.activate_account.password_confirm' | t -}}" required/>
      </div>

      <div class="form-control-button">
        <button class="btn btn-1" type="submit">{{- 'customer.activate_account.submit' | t -}}</button>
        <button class="btn btn-1" type="submit" name="decline">{{- 'customer.activate_account.cancel' | t -}}</button>
      </div>
    {% endform %}
  </div>
</div>