<script crossorigin="anonymous" src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
{%- render 'breadcrumb' -%}

<div class="container">
  <div class="row">
    <div class="col-md-4 col-12">
      <div class="account-sidebar">
        <h3 class="title">{{- 'customer.addresses.title' | t -}}</h3>
        <p><a href="javascript:void(0);" class="btn btn-1" data-dialog-trigger="#customerAddAddress">{{- 'customer.addresses.add_new' | t -}}</a></p>
      </div>
    </div>
    <div class="col-md-8 col-12">
      <div id="address_tables">
        {%- if customer.addresses.size > 0 -%}
          <div class="row">
            {% paginate customer.addresses by 10 %}

              {% for address in customer.addresses %}
                <div class="address_table col-lg-4 col-md-6 col-12{% if address == customer.default_address %} order-0{% else %} order-{{forloop.index}}{% endif %}">
                  <div id="view_address_{{address.id}}" class="customer_address">
                    <h5 class="address_title">
                      {{ address.street }}
                      {% if address == customer.default_address %}<span class="default_address note">({{- 'customer.addresses.default_address' | t -}})</span>{% endif %}
                    </h5>
                    <div class="view_address">
                      <table>
                        <tr>
                          <td class="address-label">{{- 'customer.addresses.name' | t -}}</td>
                          <td class="address-value">{{ address.first_name }} {{address.last_name }}</td>
                        </tr>
                        <tr>
                          <td class="address-label">{{- 'customer.addresses.company' | t -}}</td>
                          <td class="address-value">{{ address.company }}</td>
                        </tr>
                        <tr>
                          <td class="address-label">{{- 'customer.addresses.street' | t -}}</td>
                          <td class="address-value">{{ address.street }}</td>
                        </tr>
                        <tr>
                          <td class="address-label">{{- 'customer.addresses.city' | t -}}</td>
                          <td class="address-value">{{ address.city }} {% if address.province_code %}, {{ address.province_code }}{% endif %}</td>
                        </tr>
                        <tr>
                          <td class="address-label">{{- 'customer.addresses.country' | t -}}</td>
                          <td class="address-value">{{ address.country }} {{ address.zip }}</td>
                        </tr>
                        <tr>
                          <td class="address-label">{{- 'customer.addresses.phone' | t -}}</td>
                          <td class="address-value">{{ address.phone }}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="address_actions">
                      <form class="address-delete-form" method="post" action="{{ routes.account_addresses_url }}/{{ address.id }}">
                        <input type="hidden" name="_method" value="delete"/>
                        <a href="javascript:void(0);" class="btn btn-1 address-row-edit" data-dialog-trigger="#edit_address_{{address.id}}">{{- 'customer.addresses.edit' | t -}}</a>
                        <button type="submit" class="btn btn-2 address-row-delete">{{ 'customer.addresses.delete' | t }}</button>
                      </form>
                    </div>
                  </div>

                  <dialog id="edit_address_{{address.id}}" class="modal-ui customer_address edit_address" aria-hidden="true">
                    <div tabindex="-1" data-dialog-close></div>
                    <div role="dialog" aria-modal="true" aria-labelledby="edit_address_{{address.id}}-title">
                      <header>
                        <h3 class="address-title" id="edit_address_{{address.id}}-title">{{- 'customer.addresses.add_new' | t -}}</h3>
                        <button aria-label="Close modal" data-dialog-close>{%- render 'svg', type: 'close' -%}</button>
                      </header>

                      <div class="address-body">
                        {% form 'customer_address', address %}
                          <table class="customer_address_table" data-id="{{form.id}}">
                            <tr>
                              <td class="label"><label for="address_first_name_{{form.id}}">{{- 'customer.addresses.first_name' | t -}}</label></td>
                              <td class="value"><input type="text" id="address_first_name_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
                            </tr>
                            <tr>
                              <td class="label"><label for="address_last_name_{{form.id}}">{{- 'customer.addresses.last_name' | t -}}</label></td>
                              <td class="value"><input type="text" id="address_last_name_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
                            </tr>
                            <tr>
                              <td class="label"><label for="address_company_{{form.id}}">{{- 'customer.addresses.company' | t -}}</label></td>
                              <td class="value"><input type="text" id="address_company_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" size="40" /></td>
                            </tr>
                            <tr>
                              <td class="label"><label for="address_address1_{{form.id}}">{{- 'customer.addresses.address1' | t -}}</label></td>
                              <td class="value"><input type="text" id="address_address1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" /></td>
                            </tr>
                            <tr>
                              <td class="label"><label for="address_address2_{{form.id}}">{{- 'customer.addresses.address2' | t -}}</label></td>
                              <td class="value"><input type="text" id="address_address2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" /></td>
                            </tr>
                            <tr>
                              <td class="label"><label for="address_city_{{form.id}}">{{- 'customer.addresses.city' | t -}}</label></td>
                              <td class="value"><input type="text" id="address_city_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" size="40" /></td>
                            </tr>
                            <tr>
                              <td class="label"><label for="address_country_{{form.id}}">{{- 'customer.addresses.country' | t -}}</label></td>
                              <td class="value">
                                <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                              </td>
                            </tr>
                            <tr id="address_province_container_{{form.id}}" style="display:none">
                              <td class="label"><label for="address_province_{{form.id}}">{{- 'customer.addresses.last_name' | t -}}</label></td>
                              <td class="value"><select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select></td>
                            </tr>
                            <tr>
                              <td class="label"><label for="address_zip_{{form.id}}">{{- 'customer.addresses.zip' | t -}}</label></td>
                              <td class="value"><input type="text" id="address_zip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" /></td>
                            </tr>
                            <tr>
                              <td class="label"><label for="address_phone_{{form.id}}">{{- 'customer.addresses.phone' | t -}}</label></td>
                              <td class="value"><input type="text" id="address_phone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" /></td>
                            </tr>
                            <tr class="set-default-address">
                              <td class="label"></td>
                              <td class="value">{{ form.set_as_default_checkbox }} <span><span>{{ 'customer.addresses.set_default' | t }}</span></span></td>
                            </tr>
                          </table>
                          <div class="action_bottom">
                            <button class="btn btn-1" type="submit">{{- 'customer.addresses.update' | t -}}</button>
                          </div>
                        {% endform %}
                      </div>
                    </div>
                  </dialog>
                </div>
              {% endfor %}

              {%- include 'pagination' -%}
            {% endpaginate %}
          </div>
        {%- else -%}
          <p>{{- 'customer.addresses.no_address' | t -}}</p>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>


<dialog id="customerAddAddress" class="modal-ui" aria-hidden="true">
  <div tabindex="-1" data-dialog-close></div>
  <div role="dialog" aria-modal="true" aria-labelledby="add_address_title">
    <header>
      <h3 id="add_address_title">{{- 'customer.addresses.add_new' | t -}}</h3>
      <button aria-label="Close modal" data-dialog-close>{%- render 'svg', type: 'close' -%}</button>
    </header>

    <div id="add_address-content">
      <div id="add_address" class="customer_address edit_address">
        {% form 'customer_address', customer.new_address %}

          <table class="customer_address_table">
            <tr>
              <td class="label"><label for="address_first_name_new">{{- 'customer.addresses.first_name' | t -}}</label></td>
              <td class="value"><input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_last_name_new">{{- 'customer.addresses.last_name' | t -}}</label></td>
              <td class="value"><input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_company_new">{{- 'customer.addresses.company' | t -}}</label></td>
              <td class="value"><input type="text" for="address_company_new" class="address_form" name="address[company]" value="{{form.company}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_address1_new">{{- 'customer.addresses.address1' | t -}}</label></td>
              <td class="value"><input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_address2_new">{{- 'customer.addresses.address2' | t -}}</label></td>
              <td class="value"><input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_city_new">{{- 'customer.addresses.city' | t -}}</label></td>
              <td class="value"><input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{form.city}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_country_new">{{- 'customer.addresses.country' | t -}}</label></td>
              <td class="value">
                <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
              </td>
            </tr>
            <tr id="address_province_container_new" style="display:none">
              <td class="label"><label for="address_province_new">{{- 'customer.addresses.last_name' | t -}}</label></td>
              <td class="value">
                <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
              </td>
            </tr>
            <tr>
              <td class="label"><label for="address_zip_new">{{- 'customer.addresses.zip' | t -}}</label></td>
              <td class="value"><input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_phone_new">{{- 'customer.addresses.phone' | t -}}</label></td>
              <td class="value"><input type="text" id="address_phone_new" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" /></td>
            </tr>
            <tr class="set-default-address">
              <td class="label"></td>
              <td class="value">{{ form.set_as_default_checkbox }} <span><span>{{ 'customer.addresses.set_default' | t }}</span></span></td>
            </tr>
          </table>
          <div class="action_bottom">
            <button class="btn btn-1" type="submit">{{- 'customer.addresses.add' | t -}}</button>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</dialog>