<div class="container">
  <h2 class="title">{{- 'customer.reset_password.title' | t -}}</h2>
  <p class="note">{{- 'customer.reset_password.subtext' | t: email: email -}}</p>

  {% form 'reset_customer_password', class: 'form-account form-account-reset' %}
    {{ form.errors | default_errors }}

    <div class="form-control">
      <input type="password" name="customer[password]" placeholder="{{- 'customer.reset_password.password' | t -}}" required/>
    </div>

    <div class="form-control">
      <input type="password" name="customer[password_confirmation]" placeholder="{{- 'customer.reset_password.password_confirm' | t -}}" required/>
    </div>

    <div class="form-control-button">
      <button type="submit" class="btn btn-1">{{- 'customer.reset_password.submit' | t -}}</button>
    </div>
  {% endform %}
</div>