  <!-- Swiper -->
<div class="container bestsellers-container">
   <div class="bestsellers-heading">
      <h1>Top 5 Bestsellers in:</h1>
   </div>
   <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Blood pressure</a></li>
            <li><a href="#tabs-2">Face masks</a></li>
            <li><a href="#tabs-3">Stomatology</a></li>
        </ul>
   
        
            {%- for block in section.blocks  -%} 

                                       
                {% assign collection = collections[block.settings.list_collection] %}

                    <div class="bestsellers__item-list" id="tabs-1">

                    {%- for product in collection.products -%} 
                        {%- liquid
                        assign variant_first =  product.variants | first
                        assign first_available_variant  = product.first_available_variant | default: variant_first
                        -%}      

                        
                            <div class="bestsellers__item block-{{block.id}}">
                                <div class="bestsellers__item--sale">
                                    <span>SALE</span>
                                </div>
                            
                                <div class="bestsellers__item--img">
                                    <img src="{{ product | img_url: '197x197' }}" />
                                </div>
                                <div class="bestsellers__item--content">
                                    <div class="bestsellers__item--title">
                                        <h3>{{product.title}}</h3>
                                    </div>
                                    <div class="bestsellers__item--price">
                                        <div class="bestsellers__item--price_new">
                                            <p>{{ first_available_variant.price | money }}</p>
                                        </div>
                                        <div class="bestsellers__item--price_old">
                                            <del>{{ first_available_variant.compare_at_price | money }}</del>
                                        </div>
                                    </div>
                                    <div class="bestsellers__item--iconstar">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>   
                        
                        {%- endfor -%}
                    </div>

                        {% comment %} ---------------------------------------- {% endcomment %}
                

                    {% assign collection_2 = collections[block.settings.list_collection_2] %}
                    <div class="bestsellers__item-list" id="tabs-2">
                        {%- for product in collection_2.products offset: 1 -%} 
                        {%- liquid
                        assign variant_first_2 =  product.variants | first
                        assign first_available_variant_2  = product.first_available_variant | default: variant_first_2
                        -%} 
                        
                            <div class="bestsellers__item block-{{block.id}}">
                                <div class="bestsellers__item--sale">
                                    <span>SALE</span>
                                </div>
                            
                                <div class="bestsellers__item--img">
                                    <img src="{{ product | img_url: '197x197' }}" />
                                </div>
                                <div class="bestsellers__item--content">
                                    <div class="bestsellers__item--title">
                                        <h3>{{product.title}}</h3>
                                    </div>
                                    <div class="bestsellers__item--price">
                                        <div class="bestsellers__item--price_new">
                                            <p>{{ first_available_variant_2.price | money }}</p>
                                        </div>
                                        <div class="bestsellers__item--price_old">
                                            <del>{{ first_available_variant_2.compare_at_price | money }}</del>
                                        </div>
                                    </div>
                                    <div class="bestsellers__item--iconstar">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>   
                        
                        {%- endfor -%}
                    </div>

                        {% comment %} ---------------------------------------- {% endcomment %}
                    
                    {% assign collection_3 = collections[block.settings.list_collection_3] %}
                    <div class="bestsellers__item-list" id="tabs-3">
                        {%- for product in collection_3.products -%} 
                        {%- liquid
                        assign variant_first_3 =  product.variants | first
                        assign first_available_variant_3  = product.first_available_variant | default: variant_first_3
                        -%} 
                        
                            <div class="bestsellers__item block-{{block.id}}">
                                <div class="bestsellers__item--sale">
                                    <span>SALE</span>
                                </div>
                            
                                <div class="bestsellers__item--img">
                                    <img src="{{ product | img_url: '197x197' }}" />
                                </div>
                                <div class="bestsellers__item--content">
                                    <div class="bestsellers__item--title">
                                        <h3>{{product.title}}</h3>
                                    </div>
                                    <div class="bestsellers__item--price">
                                        <div class="bestsellers__item--price_new">
                                            <p>{{ first_available_variant_3.price | money }}</p>
                                        </div>
                                        <div class="bestsellers__item--price_old">
                                            <del>{{ first_available_variant_3.compare_at_price | money }}</del>
                                        </div>
                                    </div>
                                    <div class="bestsellers__item--iconstar">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>   
                    
                    {%- endfor -%}
                    </div>
                        {% comment %} ---------------------------------------- {% endcomment %}
              
                        
                
            {%- endfor -%}
        
   </div>
</div>


<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>









{% schema %}
{
    "name": "Bestsellers section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Bestsellers"
        }
    ],
    "blocks":[
        {
          "type": "tab_colection",
          "name": "Tab Colection",
          "settings": [
          {
            "type": "collection",
            "id": "list_collection",
            "label": "Collection Tab"
          }
          
          ]
        }
      
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Bestsellers section"
        }
    ]
}
{% endschema %}