  <!-- Swiper -->
<div class="container bestsellers-container">
   <div class="bestsellers-heading">
      <h1>Featured products</h1>
   </div>
   <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Bloodpressure')">Blood pressure</button>
        <button class="tablinks" onclick="openCity(event, 'Facemasks')">Face masks</button>
        <button class="tablinks" onclick="openCity(event, 'Stomatology')">Stomatology</button>
    </div>

    <div class="bestsellers__item-list">
    {%- for block in section.blocks -%}                     
        {% assign collection = collections[block.settings.list_collection] %}
        {% comment %} {% assign collection_two = collections[block.settings.list_collection_two] %}
        {% assign collection_three = collections[block.settings.list_collection_three] %} {% endcomment %}
            
     
            {%- for product in collection.products -%} 
            {%- liquid
            assign variant_first =  product.variants | first
            assign first_available_variant  = product.first_available_variant | default: variant_first
            -%}
            <div class="bestsellers__item tabcontent block-{{block.id}}" id="Bloodpressure" >
                <div class="bestsellers__item--sale">
                    <span>SALE</span>
                </div>
            
                <div class="bestsellers__item--img">
                    <img src="{{ product | img_url }}" />
                </div>
                <div class="bestsellers__item--content">
                    <div class="bestsellers__item--title">
                    <h3>{{product.title}}</h3>
                </div>
                <div class="bestsellers__item--price">
                    <div class="bestsellers__item--price_new">
                        <p>{{ first_available_variant.price | money }}</p>
                    </div>
                    <div class="bestsellers__item--price_old">
                        <del>{{ first_available_variant.compare_at_price | money }}</del>
                    </div>
                </div>
                <div class="bestsellers__item--iconstar">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                </div>
            </div>   
            {%- endfor -%}
           

            {% comment %} ---------------------------------------- {% endcomment %}

          

           
            {%- for product in collection.products -%} 
            {%- liquid
            assign variant_first =  product.variants | first
            assign first_available_variant  = product.first_available_variant | default: variant_first
            -%}
            <div class="bestsellers__item tabcontent block-{{block.id}}" id="Facemasks">
                <div class="bestsellers__item--sale">
                    <span>SALE</span>
                </div>
                
                <div class="bestsellers__item--img">
                    <img src="{{ product | img_url }}" />
                </div>
                <div class="bestsellers__item--content">
                    <div class="bestsellers__item--title">
                    <h3>{{product.title}}</h3>
                </div>
                <div class="bestsellers__item--price">
                    <div class="bestsellers__item--price_new">
                        <p>{{ first_available_variant.price | money }}</p>
                    </div>
                    <div class="bestsellers__item--price_old">
                        <del>{{ first_available_variant.compare_at_price | money }}</del>
                    </div>
                </div>
                <div class="bestsellers__item--iconstar">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                </div>
            </div>
            {%- endfor -%}

            {% comment %} ----------------------------------------- {% endcomment %}

         
                   
          
            {%- for product in collection.products -%} 
            {%- liquid
            assign variant_first =  product.variants | first
            assign first_available_variant  = product.first_available_variant | default: variant_first
            -%}
            <div class="bestsellers__item tabcontent block-{{block.id}}" id="Stomatology">
                <div class="bestsellers__item--sale">
                    <span>SALE</span>
                </div>              
                <div class="bestsellers__item--img">
                    <img src="{{ product | img_url }}" />
                </div>
                <div class="bestsellers__item--content">
                    <div class="bestsellers__item--title">
                    <h3>{{product.title}}</h3>
                </div>
                <div class="bestsellers__item--price">
                    <div class="bestsellers__item--price_new">
                        <p>{{ first_available_variant.price | money }}</p>
                    </div>
                    <div class="bestsellers__item--price_old">
                        <del>{{ first_available_variant.compare_at_price | money }}</del>
                    </div>
                </div>
                <div class="bestsellers__item--iconstar">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                </div>
            </div>
            {%- endfor -%}
            
            
        {%- endfor -%}
    </div>

</div>


<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>









{% schema %}
{
    "name": "Bestsellers section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Bestsellers"
        }
    ],
    "blocks":[
        {
          "type": "tab_colection",
          "name": "Tab Colection",
          "settings": [
          {
            "type": "collection",
            "id": "list_collection",
            "label": "Collection"
          },
          {
            "type": "collection",
            "id": "list_collection_2",
            "label": "Collection"
          },
          {
            "type": "collection",
            "id": "list_collection_3",
            "label": "Collection"
          }
          ]
      }
      
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Bestsellers section"
        }
    ]
}
{% endschema %}