<div class="container slider-container" data-section-type="featured-product" data-section-id="{{section.id}}">
    <div class="bestdeal__top">
        <div class="bestdeal-heading">
            <h1>Best Deals of the week!</h1>
        </div>
        <div id="countdown">
            <div class="days">
                <span id="days"></span>
            </div>
            <span class="br">:</span>
            <div class="hours">
                <span id="hours"></span>
            </div>
            <span class="br">:</span>
            <div class="minutes">
                <span id="minutes"></span>
            </div>
            <span class="br">:</span>
            <div class="seconds">
                <span id="seconds"></span>
            </div>            
        </div> 
    </div>

    <ul class="controls" id="customize-controls-{{section.id}}" style="display:none" aria-label="Carousel Navigation" tabindex="0">
        <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
            <i class="fas fa-angle-left"></i>
        </li>
        <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
            <i class="fas fa-angle-right"></i>          
        </li>
    </ul>

    {% render 'snippets-product-section', block: block, idSlide: true ,idSelaOff_product: {{section.id}} %}
    
</div>

<script>
{% comment %} (() => {
    console.log('best deals', typeof slideshow)
    slideshow({{section.id}})
}) {% endcomment %}


    var slider = tns({
    container: '.my-slider-{{section.id}}',
    loop: true,
    items: 2,
    gutter: 10,
    slideBy: "page",
    nav: false,
    autoplay: false,
    speed: 400,
    autoplayButtonOutput: false,
    mouseDrag: true,
    controlsContainer: "#customize-controls-{{section.id}}",
    responsive: {
      320: {
        items: 2
      },
      766: {
        items: 3,
        gutter: 10
      },

      1024: {
        items: 5,
        gutter: 30
        {% comment %} edgePadding: 30 {% endcomment %}
      }
    }
  });
</script>





  



<script>
    (function () {
    const second = 1000,
          minute = second * 60,
          hour = minute * 60,
          day = hour * 24;
    
    let birthday = " May 20 , 2021 00:00:00",
        countDown = new Date(birthday).getTime(),
        x = setInterval(function() {    
  
          let now = new Date().getTime(),
              distance = countDown - now;
  
          document.getElementById("days").innerText = Math.floor(distance / (day)),
            document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
            document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
            document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);
  
          //do something later when date is reached
          if (distance < 0) {
            let headline = document.getElementById("headline"),
                countdown = document.getElementById("countdown"),
                content = document.getElementById("content");
  
            headline.innerText = "It's my birthday!";
            countdown.style.display = "none";
            content.style.display = "block";
  
            clearInterval(x);
          }
          //seconds
        }, 0)
    }());
</script>





{% schema %}
{
    "name": "Best Deals section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Best Deals",
        "info": "this is info"
        }
    ],
    "blocks":[
        {
          "type": "Block_best_deal",
          "name": "bestdeal",
          "settings": [
          {
            "type": "collection",
            "id": "list_collection",
            "label": "Collection"
         },
         {
            "type": "text",
            "id": "add_cart",
            "label": "Add to Cart"
        },
         {
            "type": "text",
            "id": "time_month",
            "label": "Time month"
         },
         {
            "type": "text",
            "id": "time_day",
            "label": "Time day"
         },
         {
            "type": "text",
            "id": "time_year",
            "label": "Time year"
         }
          ]
      }
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Best Deals section"
        }
    ]
}
{% endschema %}