<div class="cart-section" data-section-type="cart-template" data-section-id="{{section.id}}" data-base-url="{{ routes.product_recommendations_url }}">
  <div class="container">
    <div class="page-heading">
      <div class="cart-title">
        <h2>{{- 'cart.general.shopping_cart' | t -}}</h2>
      </div>
    </div>

    {%- if cart.items.size > 0 -%}
      <form action="{{routes.cart_url}}" method="POST" novalidate class="cart">
        <div class="row">
          {%- comment -%}
          -------------------------------
          Left Cart
          -------------------------------
          {%- endcomment-%}
          <div class="col-md-9 col-12">
            <div class="cart-table">
              <div class="line-title d-flex">
                <div class="line-col-title col-product">{{ 'cart.table.product' | t }}</div>
                <div class="line-col-title col-price">{{ 'cart.table.price' | t }}</div>
                <div class="line-col-title col-quantity">{{ 'cart.table.quantity' | t }}</div>
                <div class="line-col-title col-total">{{ 'cart.table.total' | t }}</div>
              </div>

              {%- comment -%}
              -------------------------------
              List items
              -------------------------------
              {%- endcomment-%}
              <div class="line-items-wrapper">
                {%- for line in cart.items -%}
                  <section class="line-item" data-item="{{line.product.id}}">
                    <div class="line-item-inner">

                      <div class="line-item--product col-product">
                        <figure><a href="{{line.url}}">{%- render 'image-style', image: line.image -%}</a></figure>

                        <div class="item-detail-information">

                          <h3 class="item-title"><a href="{{line.url}}">{{line.product.title}}</a></h3>
                          {%- unless line.product.has_only_default_variant -%}
                          <div class="line-item-options">
                            {%- for option in line.options_with_values -%}
                            <p>{{ option.name }}: {{ option.value }}</p>
                            {%- endfor -%}
                          </div>
                          {%- endunless -%}

                          {%- unless line.properties == blank -%}
                          <p class="line-item-properties">
                            {%- for p in line.properties -%}
                            {%- unless p.last == blank -%}
                            {{ p.first }}:{%- if p.last contains '/uploads/' -%}<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>{%- else -%}{{ p.last }}{%- endif -%}
                            {%- endunless -%}
                            {%- endfor -%}
                          </p>
                          {%- endunless -%}

                          <div class="line-item--remove">
                            <a href="/cart/change?line={{ forloop.index }}&quantity=0" data-item-key="{{ line.key }}" data-item-remove>{{- 'cart.table.remove' | t -}}</a>
                          </div>
                        </div>
                      </div>

                      <div class="line-item--price col-price d-none d-md-block">
                        <p>{%- render 'money-format', price: line.original_price -%}</p>
                      </div>

                      <div class="line-item--quantity col-quantity">

                        <div class="line-item--price-mobile col-price d-md-none">
                          <p>{%- render 'money-format', price: line.original_price -%}</p>
                        </div>

                        <div class="qty-select">
                          <input class="hide" type="text" name="updates[]" id="updates_{{ line.id }}" value="{{ line.quantity }}" pattern="[0-9]+" data-item-key="{{ line.key }}" min="1"{% if line.variant.inventory_policy != 'continue' %} max="{{line.variant.inventory_quantity}}"{% endif %} data-item-quantity/>
                          
                          <select class="qty-select-change" data-item-quantity>
                            {%- for i in (1..10) -%}
                              {%- if i > line.variant.inventory_quantity -%}{%- break -%}{%- endif -%}
                              <option value="{{i}}"{% if line.quantity == i %} selected{% endif %}>{{i}}</option>
                            {%- endfor -%}
                          </select>

                        </div>

                        <div class="line-item--total-mobile col-total d-md-none">
                          <p data-item-total>{%- render 'money-format', price: line.final_line_price -%}</p>
                        </div>

                      </div>
                      <div class="line-item--total col-total d-none d-md-block">
                        <p data-item-total>{%- render 'money-format', price: line.final_line_price -%}</p>
                      </div>
                    </div>
                  </section>
                {%- endfor -%}
              </div>
            </div>


            <div class="cart-table--bottom">
              <div class="continue-shopping">
                <a class="" href="{{routes.all_products_collection_url}}">
                  <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 10.5L1 6M1 6L5.5 1.5M1 6L17 6" stroke="#333333" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/></svg>
                  <span>{{ 'cart.general.continue_shopping' | t }}</span>
                </a>
              </div>

              {%- comment -%}
              -------------------------------
              Discount apply
              -------------------------------
              {%- endcomment-%}
              <div class="cart-discount-info">
                <span>{{- 'cart.general.apply_discount_at_checkout' | t -}}</span>
                {% comment %}<input type="text" name="discountcode" placeholder="{{- 'cart.general.discount_placeholder' | t -}}">
                <input type="submit" value="{{- 'cart.general.discount' | t -}}" class="btn btn-1 btn-discount" data-baseurl="/discount/code?redirect={{routes.cart_url}}">{% endcomment %}
              </div>
            </div>
          </div>

          {%- comment -%}
          -------------------------------
          Right Cart
          -------------------------------
          {%- endcomment-%}
          <div class="col-md-3 col-12">
            <div class="cart-detail">
              <div class="cart-detail-title">
                <h5>{{- 'cart.general.summary' | t -}}</h5>
              </div>

              <div class="cart-subtotal">
                <span class="cart-label">{{- 'cart.general.subtotal' | t -}}</span>
                <span class="cart-value" data-cart-subtotal>{%- render 'money-format', price: cart.items_subtotal_price -%}</span>
              </div>

              <div class="cart-discount">
                <span class="cart-label">{{- 'cart.general.discount' | t -}}</span>
                {%- assign discountPrice = cart.total_discount -%}
                <span class="cart-value">{%- render 'money-format', price: discountPrice -%}</span>
              </div>

              <div class="cart-shipping">
                <span class="cart-detail-label">{{- 'cart.general.shipping' | t -}}</span>
                {%- assign shippingPrice = 0 -%}
                <span class="cart-value">{%- render 'money-format', price: shippingPrice -%}</span>
              </div>

              <div class="cart-total">
                <span class="cart-label">{{- 'cart.general.total' | t -}}</span>
                <span class="cart-value" data-cart-total>{%- render 'money-format', price: cart.total_price -%}</span>
              </div>

              <div class="cart-button">
                <button class="btn btn-1" type="submit" name="checkout">{{- 'cart.general.proceed_to_checkout' | t -}}</button>
              </div>
              <div class="cart-payment">
                <p class="cart-label">{{- 'cart.general.payment' | t -}}</p>
                <div class="payment-icon">
                  <svg width="224" height="32" viewBox="0 0 224 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#c3129570)">
                      <rect x="58" width="50" height="32" rx="3" fill="#0F3560"/>
                      <path d="M87.3635 23.8645H78.6143V8.14069H87.3635V23.8645Z" fill="#FF5F00"/>
                      <path d="M79.1748 16.0013C79.1748 12.8117 80.6682 9.97044 82.9938 8.13943C81.2931 6.8005 79.1468 6.00134 76.8142 6.00134C71.2919 6.00134 66.8154 10.4784 66.8154 16.0013C66.8154 21.5243 71.2919 26.0013 76.8142 26.0013C79.1468 26.0013 81.2931 25.2022 82.9938 23.8633C80.6682 22.0322 79.1748 19.191 79.1748 16.0013Z" fill="#EB001B"/>
                      <path d="M99.1634 16.0013C99.1634 21.5243 94.687 26.0013 89.1647 26.0013C86.832 26.0013 84.6857 25.2022 82.9844 23.8633C85.3107 22.0322 86.8041 19.191 86.8041 16.0013C86.8041 12.8117 85.3107 9.97044 82.9844 8.13943C84.6857 6.8005 86.832 6.00134 89.1647 6.00134C94.687 6.00134 99.1634 10.4784 99.1634 16.0013Z" fill="#F79E1B"/>
                      <path d="M74.3398 16.0646C74.3398 15.6278 74.6261 15.269 75.0938 15.269C75.5407 15.269 75.8424 15.6123 75.8424 16.0646C75.8424 16.5169 75.5407 16.8602 75.0938 16.8602C74.6261 16.8602 74.3398 16.5014 74.3398 16.0646ZM76.3518 16.0646V14.822H75.8115V15.1238C75.6401 14.9 75.38 14.7596 75.0266 14.7596C74.3297 14.7596 73.7834 15.3059 73.7834 16.0646C73.7834 16.8239 74.3297 17.3696 75.0266 17.3696C75.38 17.3696 75.6401 17.2292 75.8115 17.0054V17.3071H76.3518V16.0646ZM94.6116 16.0646C94.6116 15.6278 94.8979 15.269 95.3656 15.269C95.8131 15.269 96.1142 15.6123 96.1142 16.0646C96.1142 16.5169 95.8131 16.8602 95.3656 16.8602C94.8979 16.8602 94.6116 16.5014 94.6116 16.0646ZM96.6242 16.0646V13.8241H96.0833V15.1238C95.9119 14.9 95.6518 14.7596 95.2983 14.7596C94.6015 14.7596 94.0552 15.3059 94.0552 16.0646C94.0552 16.8239 94.6015 17.3696 95.2983 17.3696C95.6518 17.3696 95.9119 17.2292 96.0833 17.0054V17.3071H96.6242V16.0646ZM83.0591 15.2434C83.4072 15.2434 83.631 15.4618 83.6881 15.8462H82.3986C82.4563 15.4874 82.6741 15.2434 83.0591 15.2434ZM83.0698 14.7596C82.3414 14.7596 81.832 15.2898 81.832 16.0646C81.832 16.8549 82.3622 17.3696 83.1061 17.3696C83.4804 17.3696 83.8232 17.2762 84.1249 17.0215L83.8601 16.621C83.6518 16.787 83.3864 16.8811 83.1371 16.8811C82.7889 16.8811 82.4717 16.7198 82.3938 16.2723H84.2392C84.2445 16.205 84.2499 16.1372 84.2499 16.0646C84.2445 15.2898 83.7661 14.7596 83.0698 14.7596ZM89.5944 16.0646C89.5944 15.6278 89.8806 15.269 90.3484 15.269C90.7953 15.269 91.097 15.6123 91.097 16.0646C91.097 16.5169 90.7953 16.8602 90.3484 16.8602C89.8806 16.8602 89.5944 16.5014 89.5944 16.0646ZM91.6064 16.0646V14.822H91.0661V15.1238C90.8941 14.9 90.6346 14.7596 90.2811 14.7596C89.5843 14.7596 89.038 15.3059 89.038 16.0646C89.038 16.8239 89.5843 17.3696 90.2811 17.3696C90.6346 17.3696 90.8941 17.2292 91.0661 17.0054V17.3071H91.6064V16.0646ZM86.5428 16.0646C86.5428 16.8186 87.0676 17.3696 87.8686 17.3696C88.2429 17.3696 88.4923 17.2863 88.7625 17.0733L88.503 16.6365C88.3001 16.7823 88.087 16.8602 87.8526 16.8602C87.4211 16.8549 87.1039 16.543 87.1039 16.0646C87.1039 15.5861 87.4211 15.2743 87.8526 15.269C88.087 15.269 88.3001 15.3469 88.503 15.4927L88.7625 15.0559C88.4923 14.8429 88.2429 14.7596 87.8686 14.7596C87.0676 14.7596 86.5428 15.3106 86.5428 16.0646ZM93.5095 14.7596C93.1977 14.7596 92.9948 14.9054 92.8543 15.1238V14.822H92.3187V17.3071H92.8597V15.914C92.8597 15.5028 93.0364 15.2743 93.3899 15.2743C93.4994 15.2743 93.6136 15.2898 93.7279 15.3368L93.8945 14.8274C93.7749 14.7804 93.619 14.7596 93.5095 14.7596ZM79.0244 15.0196C78.7643 14.8482 78.4061 14.7596 78.0109 14.7596C77.3813 14.7596 76.9761 15.0613 76.9761 15.5552C76.9761 15.9605 77.2778 16.2104 77.8336 16.2883L78.0889 16.3246C78.3853 16.3663 78.5251 16.4443 78.5251 16.5847C78.5251 16.7769 78.3275 16.8864 77.9586 16.8864C77.5843 16.8864 77.3141 16.7668 77.132 16.6264L76.8773 17.0471C77.1736 17.2655 77.548 17.3696 77.9532 17.3696C78.6709 17.3696 79.0869 17.0316 79.0869 16.5585C79.0869 16.1217 78.7596 15.8932 78.2186 15.8152L77.9639 15.7784C77.7301 15.7474 77.5426 15.701 77.5426 15.5344C77.5426 15.3523 77.7193 15.2434 78.0157 15.2434C78.3329 15.2434 78.64 15.363 78.7905 15.4564L79.0244 15.0196ZM85.9965 14.7596C85.6846 14.7596 85.4817 14.9054 85.3419 15.1238V14.822H84.8063V17.3071H85.3466V15.914C85.3466 15.5028 85.5234 15.2743 85.8769 15.2743C85.9864 15.2743 86.1006 15.2898 86.2149 15.3368L86.3815 14.8274C86.2619 14.7804 86.106 14.7596 85.9965 14.7596ZM81.3851 14.822H80.5014V14.0681H79.9551V14.822H79.4511V15.316H79.9551V16.4496C79.9551 17.0263 80.1789 17.3696 80.818 17.3696C81.0525 17.3696 81.3226 17.297 81.494 17.1774L81.3381 16.7144C81.1768 16.8079 81.0001 16.8549 80.8596 16.8549C80.5895 16.8549 80.5014 16.6882 80.5014 16.4389V15.316H81.3851V14.822ZM73.3056 17.3071V15.7474C73.3056 15.1601 72.9312 14.7649 72.3278 14.7596C72.0106 14.7542 71.6833 14.853 71.4542 15.2017C71.2828 14.9262 71.0127 14.7596 70.633 14.7596C70.3676 14.7596 70.1081 14.8375 69.9052 15.1285V14.822H69.3643V17.3071H69.91V15.9295C69.91 15.4981 70.1492 15.269 70.5187 15.269C70.8776 15.269 71.0591 15.5028 71.0591 15.9242V17.3071H71.6054V15.9295C71.6054 15.4981 71.8547 15.269 72.2136 15.269C72.5825 15.269 72.7593 15.5028 72.7593 15.9242V17.3071H73.3056Z" fill="white"/>
                    </g>
                    <g clip-path="url(#c230591)">
                      <rect width="50" height="32" rx="3" fill="#082069"/>
                      <path d="M14.8735 20.9H12.8008C12.659 20.9 12.5384 21.0031 12.5162 21.1431L11.678 26.458C11.6613 26.5629 11.7425 26.6574 11.8489 26.6574H12.8384C12.9802 26.6574 13.1009 26.5544 13.123 26.4141L13.3491 24.9806C13.3709 24.8402 13.4918 24.7372 13.6334 24.7372H14.2895C15.6548 24.7372 16.4428 24.0765 16.6486 22.7672C16.7413 22.1944 16.6525 21.7444 16.3843 21.4292C16.0897 21.0831 15.5672 20.9 14.8735 20.9ZM15.1126 22.8412C14.9993 23.5849 14.431 23.5849 13.8816 23.5849H13.5688L13.7882 22.1959C13.8013 22.112 13.874 22.0502 13.9589 22.0502H14.1022C14.4765 22.0502 14.8296 22.0502 15.012 22.2635C15.1208 22.3908 15.1542 22.5799 15.1126 22.8412Z" fill="white"/>
                      <path d="M21.0695 22.8166H20.077C19.9924 22.8166 19.9194 22.8784 19.9064 22.9623L19.8624 23.2399L19.793 23.1393C19.5781 22.8275 19.099 22.7232 18.6207 22.7232C17.5239 22.7232 16.5871 23.5539 16.4047 24.7192C16.3098 25.3005 16.4447 25.8563 16.7744 26.244C17.0769 26.6004 17.5097 26.7489 18.0246 26.7489C18.9083 26.7489 19.3984 26.1806 19.3984 26.1806L19.3542 26.4564C19.3375 26.5619 19.4187 26.6564 19.5245 26.6564H20.4185C20.5607 26.6564 20.6807 26.5534 20.7031 26.4131L21.2396 23.016C21.2565 22.9114 21.1756 22.8166 21.0695 22.8166ZM19.686 24.7483C19.5903 25.3154 19.1402 25.696 18.5662 25.696C18.278 25.696 18.0476 25.6036 17.8997 25.4284C17.753 25.2544 17.6973 25.0068 17.744 24.731C17.8334 24.1688 18.291 23.7758 18.8562 23.7758C19.1381 23.7758 19.3672 23.8694 19.5181 24.0461C19.6694 24.2246 19.7294 24.4737 19.686 24.7483Z" fill="white"/>
                      <path d="M26.3549 22.8165H25.3575C25.2623 22.8165 25.1729 22.8638 25.119 22.9429L23.7433 24.9692L23.1602 23.022C23.1236 22.9002 23.0111 22.8165 22.8838 22.8165H21.9037C21.7846 22.8165 21.7019 22.9329 21.7397 23.045L22.8384 26.2691L21.8055 27.7272C21.7243 27.842 21.8061 27.9999 21.9464 27.9999H22.9426C23.0372 27.9999 23.1257 27.9539 23.1793 27.8763L26.4967 23.0878C26.5761 22.9732 26.4946 22.8165 26.3549 22.8165Z" fill="white"/>
                      <path d="M29.6577 20.8994H27.5847C27.4432 20.8994 27.3226 21.0024 27.3004 21.1424L26.4621 26.4573C26.4455 26.5622 26.5267 26.6568 26.6325 26.6568H27.6962C27.795 26.6568 27.8796 26.5846 27.8951 26.4864L28.133 24.9799C28.1548 24.8396 28.2757 24.7365 28.4172 24.7365H29.0731C30.4387 24.7365 31.2264 24.0758 31.4325 22.7666C31.5255 22.1938 31.4361 21.7437 31.1679 21.4285C30.8736 21.0824 30.3514 20.8994 29.6577 20.8994ZM29.8968 22.8405C29.7838 23.5842 29.2155 23.5842 28.6658 23.5842H28.3533L28.573 22.1953C28.586 22.1113 28.6582 22.0495 28.7433 22.0495H28.8867C29.2607 22.0495 29.6141 22.0495 29.7965 22.2629C29.9053 22.3902 29.9383 22.5793 29.8968 22.8405Z" fill="white"/>
                      <path d="M35.8534 22.8166H34.8615C34.7763 22.8166 34.7039 22.8784 34.6911 22.9623L34.6472 23.2399L34.5775 23.1393C34.3626 22.8275 33.8838 22.7232 33.4055 22.7232C32.3087 22.7232 31.3722 23.5539 31.1898 24.7192C31.0952 25.3005 31.2295 25.8563 31.5592 26.244C31.8623 26.6004 32.2945 26.7489 32.8094 26.7489C33.6931 26.7489 34.1832 26.1806 34.1832 26.1806L34.1389 26.4564C34.1223 26.5619 34.2035 26.6564 34.3099 26.6564H35.2036C35.3452 26.6564 35.4658 26.5534 35.4879 26.4131L36.0246 23.016C36.041 22.9114 35.9598 22.8166 35.8534 22.8166ZM34.4699 24.7483C34.3747 25.3154 33.9241 25.696 33.35 25.696C33.0624 25.696 32.8315 25.6036 32.6836 25.4284C32.5369 25.2544 32.4817 25.0068 32.5278 24.731C32.6178 24.1688 33.0749 23.7758 33.6401 23.7758C33.9219 23.7758 34.1511 23.8694 34.302 24.0461C34.4538 24.2246 34.5138 24.4737 34.4699 24.7483Z" fill="white"/>
                      <path d="M37.0228 21.0451L36.1721 26.4573C36.1554 26.5622 36.2367 26.6568 36.3424 26.6568H37.1977C37.3398 26.6568 37.4604 26.5537 37.4823 26.4134L38.3212 21.0988C38.3378 20.9939 38.2566 20.899 38.1508 20.899H37.1931C37.1086 20.8994 37.0358 20.9612 37.0228 21.0451Z" fill="white"/>
                      <path opacity="0.68" d="M30.1151 7.42382C30.2795 6.37542 30.114 5.66222 29.5469 5.016C28.9227 4.30472 27.795 4 26.3521 4H22.1637C21.8689 4 21.6177 4.21454 21.5719 4.50594L19.8277 15.5653C19.7934 15.7835 19.9621 15.9808 20.1828 15.9808H22.7685L22.59 17.1125C22.56 17.3034 22.7074 17.4759 22.9007 17.4759H25.0802C25.3381 17.4759 25.5578 17.2883 25.598 17.0334L25.6194 16.9225L26.0299 14.3189L26.0564 14.1751C26.0966 13.9203 26.3163 13.7324 26.5742 13.7324H26.9002C29.0116 13.7324 30.6649 12.8747 31.1479 10.3939C31.3499 9.35726 31.2454 8.49198 30.7116 7.88364C30.5503 7.69999 30.3494 7.5479 30.1151 7.42382Z" fill="white"/>
                      <path opacity="0.7" d="M30.1151 7.42382C30.2795 6.37542 30.114 5.66222 29.5469 5.016C28.9227 4.30472 27.795 4 26.3521 4H22.1637C21.8689 4 21.6177 4.21454 21.5719 4.50594L19.8277 15.5653C19.7934 15.7835 19.9621 15.9808 20.1828 15.9808H22.7685L23.418 11.862L23.3978 11.9911C23.4438 11.6999 23.6927 11.4852 23.9876 11.4852H25.2167C27.6302 11.4852 29.5202 10.5046 30.0722 7.66883C30.0887 7.5851 30.1026 7.5037 30.1151 7.42382Z" fill="white"/>
                      <path d="M24.1158 7.43768C24.1434 7.26254 24.256 7.11896 24.4074 7.04649C24.4761 7.01355 24.5531 6.99515 24.6337 6.99515H27.9168C28.3058 6.99515 28.6685 7.02068 29 7.07408C29.0947 7.08931 29.1869 7.10688 29.2765 7.12679C29.366 7.14669 29.4531 7.16879 29.5372 7.1935C29.5793 7.20571 29.6207 7.21875 29.6614 7.2322C29.8242 7.28628 29.9759 7.34997 30.1153 7.42395C30.2798 6.37556 30.1142 5.66236 29.5472 5.01614C28.9227 4.30472 27.795 4 26.3521 4H22.1637C21.8689 4 21.6177 4.21454 21.5719 4.50594L19.8277 15.5653C19.7934 15.7835 19.9621 15.9808 20.1828 15.9808H22.7685L23.418 11.862L24.1158 7.43768Z" fill="white"/>
                    </g>
                    <g clip-path="url(#c1290387542)">
                      <rect x="116" width="50" height="32" rx="3" fill="#00579F"/>
                      <path d="M138.467 21.5354H135.389L137.314 10.4999H140.392L138.467 21.5354Z" fill="white"/>
                      <path d="M149.626 10.7698C149.018 10.5465 148.055 10.3 146.865 10.3C143.825 10.3 141.684 11.8026 141.671 13.9509C141.646 15.5359 143.204 16.4163 144.369 16.9448C145.56 17.4848 145.965 17.8373 145.965 18.3187C145.952 19.058 145.002 19.3988 144.116 19.3988C142.887 19.3988 142.228 19.2231 141.228 18.8118L140.822 18.6354L140.392 21.1127C141.114 21.4176 142.444 21.6881 143.825 21.7C147.055 21.7 149.157 20.2206 149.182 17.9312C149.195 16.675 148.372 15.7124 146.598 14.9258C145.522 14.4209 144.862 14.0804 144.862 13.5638C144.875 13.0941 145.42 12.6131 146.635 12.6131C147.636 12.5895 148.371 12.8125 148.928 13.0356L149.207 13.1528L149.626 10.7698Z" fill="white"/>
                      <path d="M153.717 17.6259C153.97 16.9919 154.946 14.5382 154.946 14.5382C154.933 14.5618 155.199 13.8926 155.351 13.4817L155.566 14.4326C155.566 14.4326 156.149 17.0741 156.275 17.6259C155.794 17.6259 154.325 17.6259 153.717 17.6259ZM157.516 10.4999H155.135C154.401 10.4999 153.843 10.6993 153.526 11.4155L148.954 21.5352H152.184C152.184 21.5352 152.716 20.1732 152.83 19.8798C153.184 19.8798 156.326 19.8798 156.782 19.8798C156.871 20.2673 157.15 21.5352 157.15 21.5352H160L157.516 10.4999Z" fill="white"/>
                      <path d="M132.817 10.4999L129.802 18.025L129.473 16.4988C128.915 14.7378 127.167 12.8245 125.217 11.8732L127.978 21.5237H131.233L136.072 10.4999H132.817Z" fill="white"/>
                      <path d="M127.003 10.4999H122.051L122 10.7229C125.863 11.6386 128.422 13.8461 129.473 16.4993L128.397 11.4275C128.219 10.7227 127.675 10.5231 127.003 10.4999Z" fill="#FAA61A"/>
                    </g>
                    <g clip-path="url(#c10325489783)">
                      <rect x="174" width="50" height="32" rx="3" fill="#333333"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M203.598 20.5441C201.375 22.1611 198.191 23.0202 195.462 23.0202C191.622 23.0202 188.135 21.6053 185.508 19.2303C185.305 19.0282 185.508 18.7755 185.71 18.9271C188.539 20.5947 192.077 21.5548 195.664 21.5548C198.09 21.5548 200.819 21.0494 203.295 19.9883C203.649 19.8872 203.952 20.2915 203.598 20.5441Z" fill="#FF9201"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M204.507 19.483C204.204 19.1293 202.638 19.3314 201.93 19.3819C201.728 19.4324 201.678 19.2303 201.88 19.0787C203.143 18.1692 205.215 18.4723 205.467 18.725C205.72 19.0282 205.417 21.1 204.204 22.1106C204.002 22.2622 203.85 22.1612 203.951 21.959C204.154 21.3527 204.76 19.8872 204.507 19.483Z" fill="#FF9201"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M201.981 12.8634V12.0043C201.981 11.8527 202.082 11.8022 202.183 11.8022H206.023C206.125 11.8022 206.226 11.9033 206.226 12.0043V12.7623C206.226 12.8634 206.125 13.0655 205.922 13.3181L203.901 16.1985C204.659 16.1985 205.417 16.2995 206.125 16.6533C206.276 16.7543 206.327 16.8554 206.327 17.007V17.9165C206.327 18.0176 206.175 18.1692 206.023 18.1187C204.811 17.5123 203.244 17.4112 201.93 18.1187C201.779 18.1692 201.678 18.0681 201.678 17.9165V17.007C201.678 16.8554 201.678 16.6533 201.829 16.4006L204.154 13.0655H202.133C202.082 13.0655 201.981 12.9644 201.981 12.8634Z" fill="white"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M187.883 18.2198H186.721C186.62 18.2198 186.519 18.1187 186.519 18.0177V12.0044C186.519 11.9033 186.62 11.8022 186.721 11.8022H187.832C187.933 11.8022 188.035 11.9033 188.035 12.0044V12.8129C188.338 12.0549 188.843 11.7012 189.601 11.7012C190.359 11.7012 190.814 12.0549 191.117 12.8129C191.42 12.0549 192.027 11.7012 192.734 11.7012C193.239 11.7012 193.745 11.9033 194.098 12.3581C194.452 12.8634 194.402 13.6214 194.402 14.2278V18.0177C194.402 18.1187 194.3 18.2198 194.199 18.2198H193.037C192.936 18.2198 192.835 18.1187 192.835 18.0177V14.8341C192.835 14.5815 192.835 13.9246 192.785 13.7224C192.683 13.3182 192.431 13.2171 192.077 13.2171C191.774 13.2171 191.471 13.4193 191.37 13.7224C191.269 14.0256 191.269 14.531 191.269 14.8847V18.0682C191.269 18.1693 191.167 18.2703 191.066 18.2703H189.904C189.803 18.2703 189.702 18.1693 189.702 18.0682V14.8847C189.702 14.2278 189.803 13.2171 188.995 13.2171C188.136 13.2171 188.186 14.1772 188.186 14.8847V18.0682C188.085 18.1187 187.984 18.2198 187.883 18.2198Z" fill="white"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M209.612 11.6506C211.381 11.6506 212.29 13.1665 212.29 15.0362C212.29 16.8554 211.229 18.3208 209.612 18.3208C207.894 18.3208 206.984 16.8048 206.984 14.9351C206.934 13.116 207.894 11.6506 209.612 11.6506ZM209.612 12.9139C208.753 12.9139 208.702 14.0761 208.702 14.8341C208.702 15.5921 208.702 17.1586 209.612 17.1586C210.522 17.1586 210.572 15.8953 210.572 15.1373C210.572 14.632 210.572 14.0256 210.421 13.5203C210.269 13.0655 209.966 12.9139 209.612 12.9139Z" fill="white"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M214.564 18.2197H213.401C213.3 18.2197 213.199 18.1187 213.199 18.0176V12.0043C213.199 11.9032 213.3 11.8022 213.401 11.8022H214.513C214.614 11.8022 214.715 11.8527 214.715 11.9538V12.8633C215.069 12.0548 215.524 11.6506 216.332 11.6506C216.837 11.6506 217.393 11.8527 217.697 12.358C218 12.8633 218 13.6719 218 14.2277V18.0176C218 18.1187 217.899 18.2197 217.798 18.2197H216.635C216.534 18.2197 216.433 18.1187 216.433 18.0176V14.733C216.433 14.0761 216.534 13.116 215.675 13.116C215.372 13.116 215.119 13.3181 215.018 13.6213C214.867 13.975 214.816 14.3793 214.816 14.7836V18.0176C214.766 18.1187 214.665 18.2197 214.564 18.2197Z" fill="white"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M198.899 15.3395C198.899 15.7942 198.899 16.1985 198.697 16.6028C198.495 16.9565 198.192 17.1586 197.888 17.1586C197.434 17.1586 197.181 16.8049 197.181 16.2996C197.181 15.2889 198.091 15.1373 198.95 15.1373V15.3395H198.899ZM200.061 18.2198C199.96 18.2703 199.859 18.2703 199.809 18.2703C199.404 17.9671 199.354 17.8155 199.152 17.4618C198.495 18.1187 198.04 18.3208 197.232 18.3208C196.221 18.3208 195.463 17.7145 195.463 16.5017C195.463 15.5416 195.968 14.8847 196.726 14.5815C197.383 14.2783 198.242 14.2278 198.95 14.1772V14.0256C198.95 13.7224 198.95 13.4192 198.798 13.1666C198.646 12.9645 198.394 12.8634 198.141 12.8634C197.686 12.8634 197.282 13.1161 197.181 13.5708C197.181 13.6719 197.08 13.773 196.979 13.773L195.817 13.6719C195.716 13.6719 195.614 13.5708 195.665 13.4192C195.918 12.0549 197.181 11.6001 198.293 11.6001C198.849 11.6001 199.607 11.7517 200.061 12.2065C200.617 12.7623 200.567 13.4698 200.567 14.2278V16.0469C200.567 16.6028 200.819 16.8554 201.021 17.1586C201.072 17.2597 201.122 17.4113 201.021 17.4618C200.718 17.6639 200.314 18.0176 200.061 18.2198Z" fill="white"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M183.487 15.3395C183.487 15.7942 183.487 16.1985 183.285 16.6028C183.082 16.9565 182.779 17.1586 182.476 17.1586C182.021 17.1586 181.769 16.8049 181.769 16.2996C181.769 15.2889 182.678 15.1373 183.537 15.1373V15.3395H183.487ZM184.649 18.2198C184.548 18.2703 184.447 18.2703 184.346 18.2703C183.941 17.9671 183.891 17.8155 183.689 17.4618C183.032 18.1187 182.577 18.3208 181.769 18.3208C180.758 18.3208 180 17.7145 180 16.5017C180 15.5416 180.505 14.8847 181.263 14.5815C181.92 14.2783 182.779 14.2278 183.487 14.1772V14.0256C183.487 13.7224 183.487 13.4192 183.335 13.1666C183.183 12.9645 182.931 12.8634 182.678 12.8634C182.223 12.8634 181.819 13.1161 181.718 13.5708C181.718 13.6719 181.617 13.773 181.516 13.773L180.354 13.6719C180.253 13.6719 180.152 13.5708 180.202 13.4192C180.455 12.0549 181.718 11.6001 182.83 11.6001C183.386 11.6001 184.144 11.7517 184.598 12.2065C185.154 12.7623 185.104 13.4698 185.104 14.2278V16.0469C185.104 16.6028 185.356 16.8554 185.559 17.1586C185.609 17.2597 185.66 17.4113 185.559 17.4618C185.306 17.6639 184.902 18.0176 184.649 18.2198Z" fill="white"/>
                    </g>
                    <defs>
                      <clipPath id="c3129570">
                        <rect width="50" height="32" fill="white" transform="translate(58)"/>
                      </clipPath>
                      <clipPath id="c230591">
                        <rect width="50" height="32" fill="white"/>
                      </clipPath>
                      <clipPath id="c1290387542">
                        <rect width="50" height="32" fill="white" transform="translate(116)"/>
                      </clipPath>
                      <clipPath id="c10325489783">
                        <rect width="50" height="32" fill="white" transform="translate(174)"/>
                      </clipPath>
                    </defs>
                  </svg>

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

    {%- else -%}
      <div class="cart-empty text-center">
        <div class="cart-empty-svg">
          {%- render 'svg', type: 'cart-empty' -%}
        </div>
        <h2 class="cart-title">{{ 'cart.empty.title' | t }}</h2>
        <p>{{- 'cart.empty.subtitle' | t -}}</p>
        <a class="btn btn-1" href="{{routes.all_products_collection_url}}" id="continueShopping">{{ 'cart.general.continue_shopping' | t }}</a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Cart page",
  "tag": "section",
  "settings": [
  ]
}
{% endschema %}