<div class="container slider-container categories_container">
        <div class="categories_top-title">
            <h1>{{section.settings.title}}</h1>
        </div>

        <ul class="controls" id="customize-controls-{{section.id}}" style="display:none" aria-label="Carousel Navigation" tabindex="0">
            <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                <i class="fas fa-angle-left"></i>
            </li>
            <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
                <i class="fas fa-angle-right"></i>          
            </li>
        </ul>

        <div class="my-slider my-slider-{{section.id}} categories_top-list_item">
            {%- for block in section.blocks -%}
            {%- if block.type == 'block_categories' -%}
              
            <div class="slider-item categories_top-item">
                <div class="categories_top-item_img">
                    <img src="{{ block.settings.img_categories | img_url : 'master' }}" alt="" >
                </div>
                <div class="categories_top-item_caption">
                    <div class="categories_top-item--heading">
                        <h1>{{block.settings.heading}}</h1>
                    </div>
                    {%- if block.settings.button != blank -%}
                        <div class="categories_top-item--btn">
                            <a href="{{block.settings.url_button}}">
                                <button>{{block.settings.button}}</button>
                            </a>                           
                        </div>
                    {%- endif -%}
                    
                </div>           
            </div>
            {%- endif -%}
            {%- endfor -%}
        </div>       
</div>


<script>
    var slider = tns({
    container: '.my-slider-{{section.id}}',
    loop: true,
    items: 2,
    gutter: 10,
    slideBy: "page",
    nav: false,
    autoplay: false,
    speed: 400,
    autoplayButtonOutput: false,
    mouseDrag: true,
    controlsContainer: "#customize-controls-{{section.id}}",
    responsive: {
      320: {
        items: 2
      },
      766: {
        items: 3,
        gutter: 10
      },

      1024: {
        items: 5,
        gutter: 30
        {% comment %} edgePadding: 30 {% endcomment %}
      }
    }
  });
</script>





{% schema %}
{
    "name": "Categories section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Check out the most popular categories",
        "info": "this is info"
        }
    ],
    "blocks":[
        {
            "type": "block_categories",
            "name": "Categories",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "Image Categories",
                    "id": "img_categories"
                },
                {
                    "type": "richtext",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "text",
                    "id": "button",
                    "label": "Button Text",
                    "default" : "More"
                },
                {   
                    "type": "text",
                    "id": "url_button",
                    "label": "button link"
                }

            ]
        }
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Categories section"
        }
    ]
}
{% endschema %}