<div class="container slider-container categories_container">
        <div class="categories_top-title">
            <h1>{{section.settings.title}}</h1>
        </div>

        <ul class="controls" id="customize-controls-{{section.id}}" style="display:none" aria-label="Carousel Navigation" tabindex="0">
            <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                <i class="fas fa-angle-left"></i>
            </li>
            <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
                <i class="fas fa-angle-right"></i>          
            </li>
        </ul>

        <div class="my-slider my-slider-{{section.id}} categories_top-list_item">
            {%- for block in section.blocks -%}
            {% assign collection = collections[block.settings.list_collection] %}
                {%- for product in collection.products -%} 
                    {%- liquid
                        assign variant_first =  product.variants | first
                        assign first_available_variant  = product.first_available_variant | default: variant_first
                        assign available = product.available  
                    -%}
                    {%- form 'product', product -%}
                        <input type="hidden" name="id" value="{{first_available_variant.id}}" />
                        <div class="slider-item categories_top-item">
                            <a href="{{product.url}}">
                                <div class="categories_top-item_img">
                                    <img src="{{ product | img_url: 'master' }}" />
                                </div>
                            </a>
                            <div class="categories_top-item_caption">
                                <div class="categories_top-item--heading">
                                    <h1>{{product.title}}</h1>
                                </div>
                                {%- if block.settings.button != blank -%}
                                    <div class="categories_top-item--btn">
                                        <button type="submit">{{block.settings.button}}</button>                          
                                    </div>
                                {%- endif -%}   
                            </div>           
                        </div>
                    {%- endform -%}
                {%- endfor -%}
            {%- endfor -%}
        </div>       
</div>


<script>
    var slider = tns({
    container: '.my-slider-{{section.id}}',
    loop: true,
    items: 2,
    gutter: 10,
    slideBy: "page",
    nav: false,
    autoplay: false,
    speed: 400,
    autoplayButtonOutput: false,
    mouseDrag: true,
    controlsContainer: "#customize-controls-{{section.id}}",
    responsive: {
      320: {
        items: 2,
        gutter: 10
      },
      766: {
        items: 3,
        gutter: 10
      },

      1024: {
        items: 5,
        gutter: 10
        {% comment %} edgePadding: 30 {% endcomment %}
      }
    }
  });
</script>





{% schema %}
{
    "name": "Categories section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Check out the most popular categories",
        "info": "this is info"
        }
    ],
    "blocks":[
        {
            "type": "block_categories",
            "name": "Categories",
            "settings": [
                {
                    "type": "collection",
                    "id": "list_collection",
                    "label": "Collection"
                },
                {
                    "type": "text",
                    "id": "button",
                    "label": "Button Text",
                    "default" : "More"
                }

            ]
        }
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Categories section"
        }
    ]
}
{% endschema %}