{%- capture content -%}
{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}

{%- liquid
  render 'section-snippet', type: 'section_id'
  assign sectionType    = 'gallery-grid'
  assign sectionID      = '.section' | append: section.id
  assign blocks         = section.blocks | where: 'type', 'block'
-%}
{%- capture section_class -%}
  {{- -}}home-{{sectionType}}
  {{- -}}|layout-{{- _layout -}}
  |{{- sectionID | remove_first: '.' -}}
{%- endcapture -%}{%- assign section_class = section_class | split: '|' | join: ' ' -%}

<div class="{{section_class}}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">

  {%- render 'section-snippet', type: 'style' -%}

  {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
    <div class="section-inner">

      {%- render 'section-snippet', type: 'heading' -%}

      {%- comment -%}
      -------------------------------
      BODY
      -------------------------------
      {%- endcomment-%}
      <div class="gallery-container row">
        {%- if blocks.size > 0 -%}
          {%- for block in blocks -%}
            {%- liquid
              assign image = block.settings.image
              assign link = block.settings.image_link
              assign width = block.settings.width | remove: '/12'
              assign blockbgColor = block.settings.bg_color | remove: 'rgba(0,0,0,0)'
            -%}

            {%- capture blockID -%}.block{{block.id}}{%- endcapture -%}
            {%- capture blockWidth -%}{%- render 'set-width', type: 'width', number: width -%}{%- endcapture -%}

            {%- unless blockbgColor == blank -%}
              {%- capture blockCSS -%}{{blockID}} .slide-item{ background-color: {{blockbgColor}};}{%- endcapture -%}
              {%- assign sectionCSS = sectionCSS | append: blockCSS -%}
            {%- endunless -%}

            <div class="block-item {{blockWidth}}"{{block.shopify_attributes}}>
              <div class="block-item-inner block{{block.id}}">
                {%- if link != blank -%}<a href="{{link}}">{%- endif -%}
                  {%- render 'image-style', image: image -%}
                {%- if link != blank -%}</a>{%- endif -%}

                {%- capture textContent -%}
                  {%- for i in (1..2) -%}
                    {%- liquid
                      assign text       = 'text_' | append: i
                      assign textColor  = 'text_cl_' | append: i
                      assign text       = block.settings[text]
                      assign textColor  = block.settings[textColor] | remove: 'rgba(0,0,0,0)'
                    -%}
                    {%- if text == blank -%}{%- continue -%}{%- endif -%}
                    <div class="block-text text-{{i}}"{% unless textColor == blank %}style="color: {{textColor}};"{% endunless %}>{{text}}</div>
                  {%- endfor -%}
                {%- endcapture -%}

                {%- unless textContent == blank -%}
                  <div class="block-content">
                    <div class="block-content-inner">{{textContent}}</div>
                  </div>

                  {%- capture blockCSS -%}
                    {%- render 'css-resp', classID: blockID, nextClassID: ' .block-content', css_value: block.settings.text_align, css_property: 'text-align' -%}
                  {%- endcapture -%}
                  {%- assign sectionCSS = sectionCSS | append: blockCSS -%}
                {%- endunless -%}
              </div>
            </div>
          {%- endfor -%}

        {%- else -%}

          {%- for i in (1..2) -%}
            <div class="block-item col-md-6 col-12"><div class="block-item-inner">{%- render 'image-style', image: image -%}</div></div>
          {%- endfor -%}

        {%- endif -%}
      </div>

      {%- render 'section-snippet', type: 'button' -%}
      
    </div>
  {%- if _layout == 'boxed' -%}</div>{%- endif -%}
</div>



{%- comment -%}
-------------------------------
SECTION CSS
-------------------------------
{%- endcomment-%}
{%- capture section_css -%}
  {{sectionCSS}}
{%- endcapture -%}
{%- unless section_css == blank -%}{% style %}{{section_css}}{% endstyle %}{%- endunless -%}
{%- endcapture -%}{%- render 'compress', content: content -%}

{% schema %}
{
   "blocks": [
      {
         "type": "block",
         "name": "Block item",
         "settings": [
            {
               "type": "image_picker",
               "id": "image",
               "label": "Image"
            },
            {
              "type":"url",
              "id":"image_link",
              "label":"Image link"
            },
            {
               "type": "header",
               "content": "Block settings"
            },
            {
              "type":"text",
              "id":"width",
              "label":"Block width",
              "default": "6/12, 12/12",
              "info": "e.g: 6/12, 12/12"
            },
            {
               "type": "color",
               "id": "bg_color",
               "label": "Background color"
            },
            {
               "type":"header",
               "content":"Text content"
            },
            {
              "type":"textarea",
              "id":"text_1",
              "label":"Text 1"
            },
            {
              "type":"color",
              "id":"text_cl_1",
              "label":"Text 1 color"
            },
            {
              "type":"textarea",
              "id":"text_2",
              "label":"Text 2"
            },
            {
              "type":"color",
              "id":"text_cl_2",
              "label":"Text 2 color"
            },
            {
              "type":"text",
              "id":"text_align",
              "label":"Text alignment",
              "default": "left"
            }
         ]
      },
      {
         "type": "style",
         "name": "Section style",
         "limit": 1,
         "settings": [
            {
               "type":"color",
               "id":"section_text_color",
               "label":"Text color"
            },
            {
               "type":"color",
               "id":"section_bg_color",
               "label":"Background color"
            },
            {
               "type":"color",
               "id":"section_inner_bg_color",
               "label":"Section box background color"
            },
            {
              "type":"image_picker",
              "id":"section_bg_image",
              "label":"Desktop: Background image"
            },
            {
              "type":"image_picker",
              "id":"section_bg_image_mob",
              "label":"Mobile: Background image"
            },
            {
              "type":"select",
              "id"   :"section_bg_size",
              "label":"Background image fit",
              "default": "cover",
              "options":[
                {"value":"auto","label":"Auto"},
                {"value":"cover","label":"Cover"},
                {"value":"contain","label":"Contain"}
              ]
            },
            {
              "type": "select",
              "id": "section_bg_repeat",
              "label": "Background Image Repeat:",
              "default": "no-repeat",
              "options": [
                {"value":"no-repeat","label":"No Repeat"},
                {"value":"repeat","label":"Repeat"},
                {"value":"repeat-x","label":"Repeat X"},
                {"value":"repeat-y","label":"Repeat Y"}
              ]
            },
            {
              "type": "text",
              "id": "section_bg_position",
              "label": "Background Image Position:",
              "info": "e.g: center center"
            },
            {
               "type"  :"text",
               "id"    :"section_margin",
               "label" :"Section margin",
               "placeholder": "E.g: 5px 20px 5px 20px",
               "info": "Order: Top Right Bottom Left"
            },
            {
               "type"  :"text",
               "id"    :"section_padding",
               "label" :"Section padding",
               "placeholder": "E.g: 5px 20px 5px 20px",
               "info": "Order: Top Right Bottom Left"
            },
            {
               "type"  :"text",
               "id"    :"section_inner_padding",
               "label" :"Section box padding",
               "placeholder": "E.g: 5px 20px 5px 20px",
               "info": "Order: Top Right Bottom Left"
            }
         ]
      }
   ],
   "presets": [
      {
         "name": "Gallery Grid",
         "category": "Banner",
         "blocks": [
           {"type": "block"},
           {"type": "block"}
         ]
      }
   ],
   "name": "Gallery Grid",
   "tag": "section",
   "settings": [
      {
         "type": "text",
         "id": "title",
         "label": "Section Label [:id]",
         "default": "Gallery Grid"
      },
      {
         "type": "header",
         "content": "LAYOUT"
      },
      {
         "type": "checkbox",
         "id": "boxed_layout",
         "label": "Boxed layout",
         "default": true
      },
      {
         "type":"header",
         "content":"section info"
      },
      {
        "type":"text",
        "id":"heading",
        "label":"Heading"
      },
      {
        "type":"text",
        "id":"heading_align",
        "label":"Text alignment",
        "default": "center"
      },
      {
        "type":"text",
        "id":"button",
        "label":"Button label"
      },
      {
        "type":"url",
        "id":"button_link",
        "label":"Button link"
      },
      {
        "type":"select",
        "id":"button_style",
        "label":"Button style",
        "options":[
          {
            "value":"1",
            "label": "1"
          },
          {
            "value":"2",
            "label": "2"
          }
        ],
        "default": "1"
      }
   ]
}
{% endschema %}