{%- capture content -%}
{%- render 'section-snippet', type: 'section_id' -%}

{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign sectionType    = 'featured-product'
  assign sectionID      = '.section' | append: section.id
  assign _collection    = section.settings.collection
  assign collection     = collections[_collection]
  assign _items_resp    = section.settings.items_resp | default: '5,2'
  assign _total         = section.settings.total | default: '3' | times: 1
-%}
{%- capture gridClass -%}{%- render 'set-item-per-row', value: _items_resp -%}{%- endcapture -%}

{%- capture section_class -%}
  {{- -}}home-products-grid
  {{- -}}|layout-{{- _layout -}}
  |{{- sectionID | remove_first: '.' -}}
{%- endcapture -%}


<div class="{{section_class | split: '|' | join: ' ' }}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">
  {%- render 'section-snippet', type: 'style' -%}
  {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
    <div class="section-inner section_content-wrapper">
      {%- render 'section-snippet', type: 'heading' -%}

      <div class="section_content-body">
        <div class="row">
          {%- if _collection != blank -%}
            {%- if collection.products.size > 0  -%}
              {%- for product in collection.products limit: _total -%}
                <section class="product-section {{gridClass}}">
                  {%- render 'product-item', product: product -%}
                </section>
              {%- endfor -%}
            {%- else -%}
              <p>{{- 'collections.general.no_product' | t -}}</p>
            {%- endif -%}
          {%- else -%}

            {%- for i in (1.._total) -%}
              {%- capture index -%}{%- cycle svg_group: 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}

              <section class="product-section {{gridClass}}">
                {%- render 'svgset', type:'empty-product', index: index -%}
              </section>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div> 
      {%- render 'section-snippet', type: 'button' -%}
    </div>
  {%- if _layout == 'boxed' -%}</div>{%- endif -%}
</div>

{%- endcapture -%}
{%- render 'compress', content: content -%}

{% schema %}
{
   "blocks": [],
   "presets": [
      {
      "name": "Feature Product Grid",
         "category": "Collection",
         "blocks": []
      }
   ],
   "name": "Feature Product Grid",
   "tag": "section",
   "settings": [
      {
         "type": "text",
         "id": "title",
         "label": "Section Label [:id]",
         "default": "Feature Product Grid"
      },
      {
         "type": "header",
         "content": "LAYOUT"
      },
      {
         "type": "checkbox",
         "id": "boxed_layout",
         "label": "Boxed layout",
         "default": true
      },
      {
         "type":"header",
         "content":"Layout content"
      },
      {
         "type":"collection",
         "id":"collection",
         "label":"Collection"
      },
      {
         "type"  :"text",
         "id"    :"items_resp",
         "label":"Max number of content per row",
         "default": "5,2",
         "info": "Responsive. E.g: 5,2"
      },
      {
         "type":"text",
         "id":"total",
         "label":"Total items",
         "default": "5",
         "placeholder": "E.g: 10"
      },
      {
         "type":"header",
         "content":"section info"
      },
      {
        "type":"text",
        "id":"heading",
        "label":"Heading"
      },
      {
        "type":"text",
        "id":"heading_align",
        "label":"Text alignment",
        "default": "center"
      },
      {
        "type":"text",
        "id":"button",
        "label":"Button label"
      },
      {
        "type":"url",
        "id":"button_link",
        "label":"Button link"
      },
      {
        "type":"select",
        "id":"button_style",
        "label":"Button style",
        "options":[
          {
            "value":"1",
            "label": "1"
          },
          {
            "value":"2",
            "label": "2"
          }
        ],
        "default": "1"
      }
   ]
}
{% endschema %}