{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign _bg_color = section.settings.bg_color | default: 'rgba(0,0,0,0)'
-%}
{%- capture content -%}
<div class="section-separator section-separator-{{ section.id }} section-{{section.id}} layout-{{_layout }}">
  {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
    <div class="section_content-wrapper">
      
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'spacing' -%}
            {%- capture separatorID -%}.section-{{section.id}} .spacing-{{block.id}}{%- endcapture -%}
            <div class="separator spacing-{{block.id}}"{{block.shopify_attributes}}>
              {%- capture block_css -%}{%- render 'css-resp', classID: separatorID, css_value: block.settings.height, css_property: 'height' -%}{%- endcapture -%}
              {%- assign section_css = section_css | append: block_css -%}
            </div>

          {%- else -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>

  {%- if _layout == 'boxed' -%}</div>{%- endif -%}
</div>
{%- style -%}.section-{{section.id}} .section_content-wrapper{background-color:{{_bg_color}};}{{section_css}}{%- endstyle -%}
{%- endcapture -%}
{%- render 'compress', content: content -%}

{% schema %}
{
   "name": "Separator",
   "tag": "section",
   "settings": [
      {
         "type": "checkbox",
         "id": "boxed_layout",
         "label": "Boxed layout"
      },
      {
         "type": "color",
         "id": "bg_color",
         "label": "Background color",
         "default": "rgba(0,0,0,0)"
      }
   ],
   "blocks": [
      {
         "type": "spacing",
         "name": "Spacing",
         "settings": [
            {
               "type": "text",
               "id": "height",
               "label": "Height",
               "placeholder": "E.g: 30px, 15px, 10px",
               "default": "30px, 15px"
            }
         ]
      }
   ],
   "presets": [
      {
         "name": "Separator",
         "category": "Separator",
         "blocks": [
            {"type": "spacing"}
         ]
      }
   ]
}
{% endschema %}