<div class="container footer-container" style="background-color: {{section.settings.background_color}}">
    <div class="container menu__optionlist">
        {%- for block in section.blocks -%}
            {% case block.type %}
                {%- when 'block_menu_list' -%}             
                    {% render 'snippets-menu-optionlist', block: block %}
                {%-  when 'block_needhelp' -%}          
                    <div class="menu__optionlist--needhelp">
                        <div class="menu__optionlist-needhelp--heading">
                            <h1>{{block.settings.heading}}</h1>
                        </div>
                        <div class="menu__optionlist-needhelp--text">
                            <p>{{block.settings.text}}</p>
                        </div>
                        <div class="menu__optionlist-needhelp--content">
                            <p>{{block.settings.content_Monday-Friday}}</p>
                            <p>{{block.settings.content_Saturady}}</p>
                        </div>
                        <div class="menu__optionlist-needhelp--email">
                            <p>{{block.settings.text_email}}</p>
                        </div>
                    </div>
            
            
                {%- when 'block_ourstore' -%}
                    <div class="menu__optionlist-ourstore">
                        <div class="menu__optionlist-ourstore--heading">
                            <h1>{{block.settings.heading}}</h1>
                        </div>
                        <div class="menu__optionlist-ourstore--text">
                            <p>{{block.settings.text_address}}</p>
                            <a href="">
                                <p>{{block.settings.show_map}}</p>
                            </a>
                        </div>

                        {% render 'snippets-header-listicon', block: block %}
                        
                    </div>
           
            {% endcase %}
        {%- endfor -%}
    </div>
</div>

<div class="container-fluid footer__bottom" style="background-color:{{section.settings.background_bottom}}">
    <div class="container footer__bottom-container">
        <div class="footer__bottom--text">
            <p>{{section.settings.text_bottom}}</p>
        </div>
        <div class="footer__bottom--img">
            <img src="{{ section.settings.img_bottom | img_url : '480x40' }}" alt="" >
        </div>
    </div>  
</div>




{% schema %}
{
    "name": "Footer Section",
    "tag": "section",
    "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background color"
        },
        {
            "type": "color",
            "id": "background_bottom",
            "label": "Background color Bottom"
        },
        {
            "type": "richtext",
            "id": "text_bottom",
            "label": "Text Bottom"
        },
        {
            "type": "image_picker",
            "label": "Image Bottom",
            "id": "img_bottom"
        }
 
    ],
    "blocks": [
        {
            "type": "block_menu_list",
            "name": "Menu List",
            "settings": [
                
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "link_list",
                    "id": "menu_link",
                    "label": "Menu Link"
                }
            ]
        },
        {
            "type": "block_needhelp",
            "name": "Need Help",
            "settings": [
                
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "richtext",
                    "id": "content_Monday-Friday",
                    "label": "Text"
                },
                {
                    "type": "richtext",
                    "id": "content_Saturady",
                    "label": "Text"
                },
                {
                    "type": "textarea",
                    "id": "text_email",
                    "label": "Email"
                }
            ]
        },
        {
            "type": "block_ourstore",
            "name": "Our Store",
            "settings": [
                
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "textarea",
                    "id": "text_address",
                    "label": "Address Store"
                },
                {
                    "type": "textarea",
                    "id": "show_map",
                    "label": "Show Map"
                }
            ]
        }
    ]
}
{% endschema %}