 <div class="header">
      
          <div class="container-fluid header__top-app">

            {% style %}
              .header__top-app{
                background-color: {{section.settings.background_color_top}}
              }
            {% endstyle %}
          

            <div class="container header__top">
            {% style %}
              .header__top{
                background-color: {{section.settings.background_color_top}}
              }
            {% endstyle %}

            {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'top_text_page' -%}
              <div class="header__top-text">
                  <p style="color:{{block.settings.text_color_top}}">{{block.settings.text_page}}</p>
              </div>
            
              {%- when 'top_link_page' -%}
                  <div class="header__top-listmenu">
                    <ul>
                        {% for link in linklists[block.settings.menu_page].links %}
                                <a href="{{ link.url }}"><li>{{ link.title }}</li></a>
                        {% endfor %}
                    </ul>
                  </div>
              
              {%- when 'top_icon_page' -%}
                  {% render 'snippets-header-listicon' %}

              {%- when 'top_select_page' -%}
                <div class="header__nav">
                      <div class="header__nav-item">
                        <a href="">English</a>
                        <a href=""><i class="fas fa-chevron-down"></i></a>
                      </div>
                      <div class="header__nav-item">
                        <a href="">USD</a>
                        <a href=""><i class="fas fa-chevron-down"></i></a>
                      </div>
                </div>
            

            {%- endcase -%}
      
            {%- endfor -%}  
            </div>  
              
          </div>
            

      <div class="container header__center">
        <div class="header__logo">
          <img src="{{ section.settings.logo | img_url : 'master' }}" alt="">
        </div>

        {%- for block in section.blocks -%}
          {%- if block.type == 'needhelp_header' -%}
            {%- if section.settings.needhelp_alignment == 'top' -%}
              <div class="header__bottom-text">
                  <p>{{block.settings.need_help}}</p>
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}


        {% render 'snippets-header-search' %}
        

        {%- for block in section.blocks -%}
          {%- if block.type == 'nav_header' -%}
          <div class="header__nav">
                <div class="header__nav-item">
                  <a href="">English</a>
                  <a href=""><i class="fas fa-chevron-down"></i></a>
                </div>
                <div class="header__nav-item">
                  <a href="">USD</a>
                  <a href=""><i class="fas fa-chevron-down"></i></a>
                </div>
          </div>
          {%- endif -%}
        {%- endfor -%}

        {% render 'snippets-header-card' %}

      </div>


      <div class="container-fluid header__hr"></div>



      <div class="container header__bottom">
        <div class="header__bottom-icon">
              <i class="fas fa-bars"></i>
        </div>
        
        <div class="header__bottom-list">
            <ul>
                {% for link in linklists[section.settings.nav_link].links %}
                        <a href="{{ link.url }}"><li>{{ link.title }}</li></a>
                {% endfor %}
            </ul>
            
            {%- for block in section.blocks -%}
            {%- if block.type == 'bottom_contact_blog' -%}
            <div class="header__bottom-contact_blog">
                <a href="">Blog</a>
                <a href="">Contact</a>
            </div>
            {% endif %}
            {%- endfor -%}
        </div>
        
        {%- for block in section.blocks -%}

          {%- if block.type == 'needhelp_header' -%}
            {%- if section.settings.needhelp_alignment == 'bottom' -%}
              <div class="header__bottom-text">
                  <p>{{block.settings.need_help}}</p>
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}


        {%- if section.settings.needhelp_alignment == 'top' -%}
        {%- style -%}
                .header__bottom-contact_blog{
                  position: absolute;
                  right: 0;
                }
        {%- endstyle -%}
        {%- endif -%}

    </div>
    
    
    </div>

{% schema %}
{
    "name": "Header Section",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Logo"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
        },
        {
            "type": "header",
            "content": "Menu settings"
        },
        {
            "type": "link_list",
            "id": "nav_link",
            "label": "Main menu",
            "default": "main-menu"
        },
        {
            "type": "header",
            "content": "Background color Header Top"
        },
        {
            "type": "color",
            "id": "background_color_top",
            "label": "Background color",
            "default": "#F0F2F5"
        },
        {
            "type": "radio",
            "id": "needhelp_alignment",
            "options": [
                { "value": "top", "label": "Top"},
                { "value": "bottom", "label": "Bottom"}
            ],
            "label": "Need Help Alignment",
            "default" : "bottom"
}
        
        
    ],
    "blocks": [
        {
            "type": "top_text_page",
            "name": "Text Page",
            "settings": [
            {  
                "type": "richtext",
                "label": "Text Page",
                "id": "text_page"
            },
            {
                "type": "color",
                "id": "text_color_top",
                "label": "Text color Top",
                "default": "#FFC800"
            }                              
          ]
        },
        
        {
            "type": "top_link_page",
            "name": "Link Page",
            "settings": [
            {
                "type": "link_list",
                "id": "menu_page",
                "label": "Menu Page"
            }                               
          ]
        },
        {
            "type": "top_icon_page",
            "name": "Icon Page",
            "settings": [
                                          
          ]
        },
        
        {
            "type": "top_select_page",
            "name": "Select Page",
            "settings": [                              
          ]
        },
        {
            "type": "bottom_contact_blog",
            "name": "Bottom Contact Blog",
            "settings": [                              
          ]
        },

        {
            "type": "needhelp_header",
            "name": "Need Help",
            "settings": [
              {  
                "type": "richtext",
                "label": "Need Help",
                "id": "need_help"
              }                               
          ]
        },
        {
            "type": "nav_header",
            "name": "Nav Header",
            "settings": [
                                             
          ]
        }

    ]
}
{% endschema %}