
<div class="container slider-container">
   <div class="slider-heading">
      <h1>{{section.settings.title}}</h1>
   </div>

   <ul class="controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
        <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
            <i class="fas fa-angle-left"></i>
        </li>
        <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
            <i class="fas fa-angle-right"></i>          
        </li>
    </ul>

   <div class="my-slider-{{section.id}}">
      {%- for block in section.blocks -%}
      {% assign collection = collections[block.settings.list_collection] %}
      {%- for product in collection.products -%} 
      {%- liquid
      assign variant_first =  product.variants | first
      assign first_available_variant  = product.first_available_variant | default: variant_first
      -%}
      <div class="slider-item item">
         <div class="slider-item--sale">
            <span>SALE</span>
         </div>
         
         <div class="slider-item--img">
            <img src="{{ product | img_url: '197x197' }}" />
         </div>
         <div class="slider-item--content">
            <div class="slider-item--title">
            <h3>{{product.title}}</h3>
            </div>
            <div class="slider-item--price">
               <div class="slider-item--price_new">
                  <p>{{ first_available_variant.price | money }}</p>
               </div>
               <div class="slider-item--price_old">
                  <del>{{ first_available_variant.compare_at_price | money }}</del>
               </div>
            </div>
            <div class="slider-item--iconstar">
               <i class="far fa-star"></i>
               <i class="far fa-star"></i>
               <i class="far fa-star"></i>
               <i class="far fa-star"></i>
            </div>
         </div>
      </div>
      {%- endfor -%}
      {%- endfor -%}
   </div>

</div>

<script>
(function() {
  var slider = tns({
    container: ".my-slider-{{section.id}}",
    loop: true,
    items: 1,
    slideBy: "page",
    nav: false,
    autoplay: false,
    speed: 400,
    autoplayButtonOutput: false,
    mouseDrag: true,
    controlsContainer: "#customize-controls",
    responsive: {
      640: {
        items: 2
      },

      768: {
        items: 5,
        gutter: 30,
        edgePadding: 30
      }
    }
  });
})();

</script>





{% schema %}
{
    "name": "Lates Products section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Latest products"
        }
    ],
    "blocks":[
        {
          "type": "Block_Collection",
          "name": "Collection",
          "settings": [
          {
            "type": "collection",
            "id": "list_collection",
            "label": "Collection"
          }
          ]
      }
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Lates Products section"
        }
    ]
}
{% endschema %}