
<!-- Slideshow container -->
<div class="{% if section.settings.size_slide == 'container' %}container {% else %} container-fluid {% endif %}slideshow-container">
    <ul class="controls" id="customize-controls-{{section.id}}" aria-label="Carousel Navigation"        tabindex="0">
        <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
            <i class="fas fa-angle-left"></i>
        </li>
        <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
            <i class="fas fa-angle-right"></i>          
        </li>
    </ul>
    <div class="my-slider my-slider-{{section.id}}">
        {%- for block in section.blocks -%}
            <div class="slider-item item__slideshow">
                <img src="{{ block.settings.img_slide | img_url : 'master' }}" alt="" >
                <div class="caption__slideshow">
                    <div class="heading__slide">
                        <h1>{{ block.settings.heading}}</h1>
                    </div>
                    <div class="content__slide">
                        <p>{{block.settings.heading}}</p>
                    </div>
                    <div class="price__slide">
                        <div class="new__price">{{block.settings.new_price}}</div>
                        <div class="old__price">{{block.settings.old_price}}</div>
                    </div>
                    <div class="btn__slide">
                        <a href="">
                            <button>Shop now</button>
                        </a>   
                    </div>
                </div>
                <div class="sale__slide">
                    {{block.settings.sale}}
                </div>
            </div>
        {%endfor%}
    </div>
</div>




<script>
    var slider = tns({
    container: '.my-slider-{{section.id}}',
    loop: true,
    items: 1,
    slideBy: "page",
    nav: true,
    navPosition: "bottom",
    autoplay: false,
    speed: 400,
    autoplayButtonOutput: false,
    mouseDrag: true,
    controlsContainer: "#customize-controls-{{section.id}}",
    responsive: {
      640: {
        items: 1
      },

      768: {
        items: 1,
      }
    }
  });
</script>





{% schema %}
{
    "name": "Slideshow section",
    "settings": [
        {
            "type": "radio",
            "id": "size_slide",
            "options": [
                { "value": "container", "label": "container"},
                { "value": "container-fluid", "label": "container-fluid"}
            ],
            "label": "Size Slide"
        }
    ],
    "blocks":[
        {
            "type": "block_slide",
            "name": "Slideshow",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "Image Slide",
                    "id": "img_slide"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content",
                    "info": "content"
                },
                {
                    "type": "textarea",
                    "id": "new_price",
                    "label": "New Price",
                    "default" : "$15.99"
                },
                {
                    "type": "textarea",
                    "id": "old_price",
                    "label": "Old Price",
                    "default" : "$29.99"
                },
                {
                    "type": "text",
                    "id": "sale",
                    "label": "Sale",
                    "default" : "-30%"
                }

            ]
        }
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Slideshow section"
        }
    ]
}
{% endschema %}