<div class="header__top-listicon">
    <a href="{{settings.icon_link_one}}">
        <i class="{{settings.icon_one}}"></i>
    </a>
    <a href="{{settings.icon_link_two}}">
        <i class="{{settings.icon_two}}"></i>
    </a>
    <a href="{{settings.icon_link_three}}">
        <i class="{{settings.icon_three}}"></i>
    </a>
    <a href="{{settings.icon_link_four}}">
        <i class="{{settings.icon_four}}"></i>
    </a>
    <a href="{{settings.icon_link_five}}">
        <i class="{{settings.icon_five}}"></i>
    </a>
</div>