{% assign collection = collections[block.settings.list_collection] %}
    {%- for product in collection.products -%} 
    {%- liquid
         assign variant_first =  product.variants | first
         assign first_available_variant  = product.first_available_variant | default: variant_first
         assign available = product.available  
    -%}
        {%- form 'product', product -%}
            <input type="hidden" name="id" value="{{first_available_variant.id}}" />
                <div class="saleoff__item block-{{block.id}}">
                    <a href="{{product.url}}">
                        <div class="saleoff__item-img">
                            <img src="{{ product | img_url: 'master' }}" />
                        </div>
                    </a>
                    <div class="saleoff__item-caption">
                        {% for tag in product.tags %}
                            <div class="saleoff__item-caption_new">
                                <span>{{ tag }}</span>
                            </div>
                        {% endfor %}
                        <div class="saleoff__item-caption_text">
                            <h1 style="color:{{block.settings.color_text}}">{{product.title}}</h1>
                        </div>
                    
                        <div class="saleoff__item-caption_content">
                            {%- if block.settings.check_sale == true -%}                         
                                <div class="saleoff__item-caption_sale">
                                    <h1>-{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round }}%</h1>
                                </div>
                            {%- endif -%}
                            {%- if block.settings.check_price == true -%}
                                <div class="saleoff__item-caption_price">
                                    <div class="price_new">
                                        <h1>{{ first_available_variant.price | money }}</h1>
                                    </div>
                                    <div class="price_old">
                                        <del>{{ first_available_variant.compare_at_price | money }}</del>
                                    </div>
                                </div> 
                            {%- endif -%} 
                        </div>
                    </div>
                    {%- if block.settings.button != blank -%}
                        <div class="saleoff__item-btn">
                            <button type="submit">{{block.settings.button}}</button>      
                        </div>
                    {%- endif -%}    
                </div>
        {%- endform -%}
    {%- endfor -%}


{%- if forloop.length == 1 -%}
      {%- style -%}
        .saleoff_container{
            grid-template-columns: auto;
        }
        .saleoff__item{
            margin: auto;
        }
      {%- endstyle -%}
    {%- elsif forloop.length == 2 -%}
      {%- style -%}
        .saleoff_container{
            grid-template-columns: auto auto;
        }
        .saleoff__item-img img{
            width: 100%;
        }
      {%- endstyle -%}
    {%- endif -%}




    
    
    