<ul class="widget-social-icons list-inline">
  {%- liquid
    capture social_m_default
      echo 'https://www.facebook.com/arenasupport'
      echo ',https://www.instagram.com/arenacommerce'
      echo ',https://www.youtube.com/c/arenacommerce'
      echo ',https://www.pinterest.com/arenacommerce'
      echo ',https://www.linkedin.cn/'
    endcapture
    assign social_m_default = social_m_default | strip_newlines | split: ','

    capture defaultSocial_SVG
      echo 'facebook,instagram,youtube,pinterest,linkedin'
    endcapture
    assign defaultSocial_SVG = defaultSocial_SVG | split: ','

  -%}

  {% for i in (1..6) %}
    {%- assign _type = 'social_icon_' | append: i -%}

    {%- if settings[_type] == 'none' -%}{%- continue -%}{%- endif -%}

    {%- liquid
      assign _svg       = 'social_icon_svg_'   | append: i
      assign _image     = 'social_icon_img_'   | append: i
      assign _title     = 'social_icon_title_' | append: i
      assign _link      = 'social_icon_link_'  | append: i
      assign j          = i | minus: 1
      assign _default_l = social_m_default[j] | strip
    -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings[_link] | default: _default_l }}" title="{{ settings[_title] }}">
        {%- case settings[_type] -%}
          {%- when 'svg' -%}
              {%- if settings[_svg] == blank -%}
              <!--{{fill}}-->
                {%- render 'svg', type: defaultSocial_SVG[j], fill: fill -%}
              {%- else -%}{{- settings[_svg] -}}
            {%- endif -%}
          {%- when 'image' -%}<img src="{{ settings[_image] | img_url: '20x' }}" alt="{{ settings[_image].alt }}"/>
        {%- endcase -%}
      </a>
    </li>
  {% endfor %}
</ul>